@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,400;0,700;0,800;1,700;1,800&display=swap');

:root {
    --background_color: #242331;
    --color_scheme01: #e6eed6;
    --color_scheme02: #dde2c6;
    --color_scheme03: #bbc5aa;
    --main_color: #a72608;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Alegreya Sans SC', sans-serif;
}

body {
    background-color: var(--background_color);
    color: var(--main_color);
}

h1 {
    text-align: center;
    margin: 15px;
    font-size: 3em;
}

h2 {
    text-align: center;
    margin: 15px;
}

#tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
    margin-top: 60px;
    text-align: center;
    font-size: 1.8em;
}

input {
    outline: none;
    border: none;
    background-color: var(--color_scheme03);
    width: 200px;
    height: 25px;
    font-size: 30px;
}